.hypothesis
.git
.cache/*
__pycache__
.pytest_cache/*
.ipynb_checkpoints/
.pytest_cache
build/*
dist/*
DEV*
TODO-fuzzy
box

/fuzzylogic-*
workspace.code-workspace
src/fuzzylogic.egg*
src/fuzzylogic/.test.py
